---
  extends: airbnb
  parser: babel-eslint
  env:
    # http://eslint.org/docs/user-guide/configuring.html#specifying-environments
    browser: true
  rules:
    # http://eslint.org/docs/rules/
    no-console: 0
